#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.address-container {
  display: none;
}

.hover {
  text-decoration: underline;
}
